.milestoneBar.editable {
    fill: #CCCCCC;
    stroke: #000000;
    stroke-width: 2;
    stroke-dasharray: 3,5;
}

.endLine {
    stroke: #000000;
    stroke-width: 5;
}
.endLine.editable {
    cursor: ew-resize;
    stroke-dasharray: 10,10;
}

.endLineLabel {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 10px;
}
